
/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarala', sans-serif ;

}

:root{
    --cor01:#24253c;
    --cor02:#1e2131;
    --cor03:#f25656;
}

body{
    background-color: #1e2131;
    height: 100vh;
   
}

.flex{
    display: flex;
}

.interface{
    max-width: 1280px;
    margin: auto;
}
/* ESTILO CABEÇALHO */

img{
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    margin-top: 15px;
}

header{
    background: rgba(255, 255, 255, 0.164);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.11);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 80px;
}


header > .interface{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    /* ISSO É IMPORTANTE GI */
   }

   header a{
    color: white;
    text-decoration: none;
    padding: 0 10px;
    display: inline-block; /* isso precisa estar ativado para que o "transform" funcione */
}

header a:hover{
    transform: scale(1.05);  /* para dar aquele mini zoon */
    transition: 0.2s;
}

header nav a:hover{
    color: #f25656;
    
    transform: scale(1.05);  /* para dar aquele mini zoon */
    transition: 0.2s;
    
}

header nav ul{
    list-style-type: none;

}

header nav ul li{
    display:inline-block;
    padding: 0px 40px;
    font-weight: bold
}

header .linkedin button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    background-color: #f25656;
    color:white;
    cursor: pointer;
    margin-bottom: 22px;
    margin-top: 20px;
}

header .linkedin button:hover{
    box-shadow: 0px 0px 8px #f2565691;
}

/* TOPO DO SITE */

section.topo-do-site{
    padding: 40px 4%;
    background-color: #1e2131;
    

}

section.topo-do-site .flex{
    align-items: center;
    justify-content: space-between;
    gap: 100px; /* respiro entre os espaços */
    
    }

.texto-topo-do-site{
        color: white;
        padding: 40px ;
        margin-top: 90px;
        margin-left:50px ;
        
    }

h1{
    color: #f25656;
    text-align: left;
    font-family: 'Quando', sans-serif;
    font-size: 55px;
    font-weight: 400;
    border-right: 4px solid;
    width: 14ch;
    white-space: nowrap;  /* para não quebrar a linha */
    overflow: hidden;
    animation: typing 500ms steps(20) infinite normal, blinking 2s steps(20) 1s normal both;

}
h2{
    font-size: 30px;
}

@keyframes typing{
    from{
        border-right-color:#f25656;
    }
    to{
        border-right-color:transparent;
    }
}
@keyframes blinking{
    from{
        width: 0;
    }
    to{
        width: 8em;
    }
}

section .linkedin a button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #f25656;
    border: none;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    width: 200px;
    height: 50px;
}

.linkedin a button:hover{
    box-shadow: 0px 0px 8px #f2565691;
    transform: scale(1.05);
    transition: 0.2s;
}